*, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
html, body {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  padding-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.line-break {
  display: block;
}

h1 {
  text-align: center;
}

address {
  font-style: normal;
}

ul {
  margin: 0 3rem;
  
  & li {
    margin-bottom: 0.5rem;
  }
}

section {
  margin: 1rem 2rem;
  box-shadow: inset 0 0.5rem 1rem rgb(104, 0, 14);
  border-radius: 0.5rem;
  padding: 1rem;
}