*, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
html, body {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  padding: 1rem 0;
  box-shadow: inset 0 0 100px #000;
  font-size: 1.2rem;
  
  &::selection {
    color: #ddd;
    background-color: rgb(71, 5, 5);
    text-decoration: underline;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.line-break {
  display: block;
}

h1 {
  text-align: center;
  margin: 0 2rem;
  border-radius: 0.5rem;
  background-color: #ac0a0a;
  box-shadow: inset 0 -2rem 2rem rgb(70, 0, 9), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.349);
  color: #ddd;
  text-shadow: 0 8px 8px #000000;
  padding: 0.5rem;
}

address {
  font-style: normal;
}

ul {
  margin: 0 3rem;
  
  & li {
    margin-bottom: 0.5rem;
  }
}

section {
  margin: 2rem;
  box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.466), 0 0 0.5rem rgba(0, 0, 0, 0.466);
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #eee;
  color: #444;
  text-shadow: 0 2px 2px #00000046;
}

h2 {
  text-shadow: 0 4px 4px #00000046;
}