*, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  margin: 0 1rem;
}

p {
  margin: 1rem 2rem;
}

ul {
  margin: 0 3rem;

  & li {
    margin-bottom: 0.5rem;
  }
}